@import "variables";
@import "mixins";
@include font-face("Gordita", "../fonts/hinted-GorditaBold", 700, null, "ttf");
@include font-face("Gordita", "../fonts/hinted-GorditaMedium", 500, null, "ttf");
@include font-face("Gordita", "../fonts/hinted-GorditaRegular", 400, null, "ttf");
@include font-face("Fakt Pro RVLRY", "../fonts/faktpro", null, null, "ttf");

* {
    font-family: $font-stack
}

.primary {
    color: $primary-color;
}

.secondary {
    color: $secondary-color !important;
}

body {
    background-color: $background-color;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background-color: $background-color;
    z-index: 11;

    .arrow {
        float: left;
        margin: 25px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        padding: 15px;
        border-radius: 50%;
        color: #303030;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    .profile {
        float: right;
        margin: 20px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        padding: 15px;
        border-radius: 50%;
        //background-image: url('../images/profile.png');
        //background-size: cover;
        background-color: #e1e1e1;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    .text {
        float: right;
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        color: #202124;
        cursor: default;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 275px;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .05);
    transform: translateX(0px);
    transition: transform .7s;
    z-index: 12;

    @media screen and (max-width: 1200px) {
        transform: translateX(-275px);
    }

    .button {
        display: block;
        position: relative;
        top: 25px;
        left: 25px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        padding: 15px;
        border-radius: 50%;
        background-color: #DC412E;
        color: $background-color;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    .title {
        display: block;
        position: relative;
        top: 75px;
        left: 35px;
        font-size: 28px;
        font-weight: 500;
        color: #171717;
        cursor: default;
    }

    .item-list {
        display: block;
        position: relative;
        top: 115px;
        border-top: 1px solid #f7f7f7;

        .item {
            display: inherit;
            height: 60px;
            line-height: 60px;
            text-align: left;
            padding-left: 35px;
            font-size: 18px;
            font-weight: 400;
            color: $primary-color;
            transition: background-color .2s ease-in-out, font-weight 75ms;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;

            &:hover {
                background-color: #fcfcfc;
            }
        }

        .var {
            font-family: $secondary-font;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .active {
            background-color: #fcfcfc;

            &:not(.var) {
                font-weight: 700;
            }
        }
    }
}

.main {
    z-index: 1;

    .title {
        margin-top: 135px;
        font-size: 44px;
        font-weight: 500;
        cursor: default;
    }

    .second-title {
        margin-top: 50px;
        font-size: 16px;
        font-weight: 400;
        cursor: default;
    }

    hr {
        position: absolute;
        top: 339px;
        left: 0;
        right: 0;
        width: 100%;
        border: 1.5px solid #f7f7f7;
    }

    .form {

        &#email-tab {
            display: none;
        }

        margin-top: 200px;
        text-align: left;

        @media screen and (min-width: 1800px) {
            padding: 0 100px;
        }

        .active-title {
            font-size: 16px;
            font-weight: 700;
            color: #1e1e1e;
            cursor: default;
        }

        form {
            margin: 85px 0;

            .form-group {
                position: relative;

                &+.form-group {
                    margin-top: 65px;
                }
            }

            .form-label {
                position: absolute;
                left: 0;
                bottom: 20px;
                font-size: 16px;
                color: #202020;
                background-color: $background-color;
                z-index: 10;
                transition: transform 150ms ease-out, font-size 150ms ease-out;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
            }

            .focused .form-label {
                transform: translateY(-275%);
                font-size: 13px;
            }

            .form-input {
                position: relative;
                padding: 12px 0px 20px 0;
                width: 100%;
                outline: 0;
                border: 0;
                border-bottom: 2px solid #f7f7f7;
                will-change: border-color;
                transition: border-color .2s ease-in-out;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;

                &[type=text] {
                    line-height: 10px;
                }
            }

            .form-select:after {
                content: '>';
                font: 20px monospace;
                color: #707070;
                transform: rotate(90deg);
                right: 10px;
                top: 10px;
                padding: 0 0 2px;
                position: absolute;
                pointer-events: none;
            }

            .select {
                appearance: none;
                background-color: $background-color;

                &:focus {
                    border-color: #202020
                }
            }

            .select-label {
                font-size: 13px;
                font-weight: 500;
                bottom: 60px;
            }

            .form-line {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 100%;
                border-bottom: 2px solid #202020;
                transition: border-color .2s ease-in-out, width .2s ease-in-out;
            }

            .form-hidden {
                position: absolute;
                display: inline;
                visibility: hidden;
                font-size: 16px;
                padding: 0;
                margin: 0
            }
        }
    }
}